{% block body %}

    {% if offer.candidacies %}
        {% for candidacy in offer.candidacies %}
            {% if candidacy.student.user.id == app.user.id %}
                {% if candidacy.status == "validée" %}
                    {% set color = "card-bg-accepted" %}
                {% elseif candidacy.status == "Refusée" %}
                    {% set color = "card-bg-rejected" %}
                {% else %}
                    {% set color = "card-bg-onHold" %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% set currentDate = "now"|date("Y-m-d") %}
    {% set offerCreationDate = offer.createdAt|date("Y-m-d") %}
    {% set dateInterval = date('now').diff(offer.createdAt).format('%H:%I:%S') %}
    {% set diffInWeeks = dateInterval|number_format % 7 %}

    <div class="flex flex-col drop-shadow">
        <div class="flex items-center bg-card-bg-normal px-4 py-2 rounded-t-lg">

            <div class="flex items-center gap-3 justify-between w-full">
                <img src="{{ asset(img_enterprises ~ offer.enterprise.imageName) }}" class="float-right rounded-full"
                     style="width: 40px; height: auto ; margin-right:10px" alt="image entreprise">
                <div class="w-8/12">
                    <p>{{ offer.name }}</p>
                    <p class="mb-2 text-sm font-semibold text-gray-700">{{ offer.enterprise.name }}</p>
                    <p class="text-xs text-gray-500 font-light">{{ offer.city }} ({{ offer.department }})</p>
                    <p class="text-xs text-gray-500 font-light">Parue il y a {{ diffInWeeks }} semaine{% if diffInWeeks > 1 %}s{% endif %}</p>
                </div>
                <div>
                    <a href="{{ path('app_offers_show', {'id': offer.id}) }}" class=" text-blue-600 break-keep">
                        En savoir +
                    </a>
                </div>
            </div>
        </div>

        <div class="pt-4 pb-4 pl-4 pr-4 rounded-b-lg gap-3 bg-white">
            <div class="flex flex-wrap ">
                {% for tag in offer.tags %}
                    <span class="rounded-full bg-card-bg-normal }} pl-3 pr-3 mr-2 mb-3 break-keep">{{ tag.tag }}</span>
                {% endfor %}
            </div>

            <p class="text-style-3lines">
                {{ offer.description }}
            </p>

            {% if app.user %}
                {% if "ROLE_STUDENT" in app.user.roles %}
                    {% set find = false %}

                    {% for candidacy in offer.candidacies %}
                        {% if candidacy.student.user.id == app.user.id %}
                            {% set find = true %}
                        {% endif %}
                    {% endfor %}

                    {% if find %}
                        <a href="{{ path('app_delete_candidacy', { 'id': offer.id }) }}"
                           class="text-red-500 flex items-center gap-1 mt-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="svg-red">
                                <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"/>
                            </svg>
                            <p>Désister</p>
                        </a>

                    {% else %}
                        <a href="{{ path('app_new_candidacy', { 'id': offer.id }) }}"
                           class="text-purple-500 break-keep flex flex-row items-center gap-1 mt-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
                                 class="svg-purple">
                                <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"/>
                            </svg>
                            <p>Postuler</p>
                        </a>
                    {% endif %}

                {% elseif "ROLE_ENTERPRISE" in app.user.roles %}

                    {% if offer.enterprise.id == app.user.enterprise.id %}
                        <div class="flex gap-3">
                            <a href="{{ path("app_offers_edit", {'id': offer.id}) }}"
                               class="text-purple-500 flex items-center gap-1 mt-4">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
                                     class="svg-purple">
                                    <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"/>
                                </svg>
                                <p>Modifier</p>
                            </a>
                            {{ include('offers/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                {% endif %}

                <p class="text-sm text-gray-500 mt-4">
                    Il y a {{ offer.candidacies|length }} candidature(s) pour cette offre.
                    <br>
                    {% if offer.candidacies|length != 0
                        and "ROLE_ENTERPRISE" in app.user.roles
                        and offer.enterprise.id == app.user.enterprise.id %}
                        <span class="font-semibold">
                            <a href="{{ path('app_enterprise_offers_candidacies', { 'id': offer.id }) }}">
                                Voir les candidatures
                            </a>
                        </span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}