{% block body %}
    <div class="card">

        <div>
            <h1> {{ offer.name }}</h1>
        </div>

        <div>
            <div class="pill-holder">
                <div class="pill bg-red-700">Back</div>
                <div class="pill bg-sky-500">Design</div>
                <div class="pill bg-amber-300">Front</div>
            </div>


            <span class="text-sm font-medium text-gray-500">
                Il y a {{ offer.candidacies|length }} candidature(s) pour cette offre.
            </span>

            <img src="{{ asset(img_enterprises ~ offer.enterprise.imageName) }}" class="w-1/3 float-right"
                 alt="logo de l'entreprise">
        </div>

        <div>
            <p class="text-style-3lines">
                {{ offer.description }}
            </p>
        </div>

        <div class="link-container">
            <div class="link-holder">
                <div><a href="{{ path('app_offers_show', {'id': offer.id}) }}"
                        class="rounded-md p-2 text-white bg-blue-500 hover:bg-blue-600">En savoir +</a></div>
                {% if  "ROLE_STUDENT" in app.user.roles %}
                    {% set find = false %}
                    {% for candidature in offer.candidacies %}
                        {% if candidature.student.user.id == app.user.id %}
                            {% set find = true %}
                        {% endif %}
                    {% endfor %}
                    {% if find %}
                        <div><a href="{{ path('app_delete_candidacy', { 'id': offer.id }) }}" class="rounded-md p-2 text-white bg-red-500 hover:bg-red-600">Désister</a></div>
                    {% else %}
                        <div><a href="{{ path('app_new_candidacy', { 'id': offer.id }) }}"
                                class="rounded-md p-2 text-white bg-sky-500 hover:bg-sky-600">Postuler</a>
                        </div>
                    {% endif %}
                {% elseif "ROLE_ENTERPRISE" in app.user.roles %}
                    {% if offer.enterprise.id == app.user.enterprise.id %}
                        <div><a href="" class="rounded-md p-2 text-white bg-sky-500 hover:bg-sky-600">Modifier</a></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}