{% use 'tailwind_2_layout.html.twig' %}

{%- block form_label -%}
    {%- set label_class = label_class|default('text-[#003f62] block tracking-wide text-gray-700 text-sm font-bold mb-2') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-red-600 font-semibold') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('rounded border-gray-300 shadow-sm text-emerald-500 focus:ring focus:ring-emerald-600 focus:ring-opacity-50') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block radio_widget -%}
    {%- set widget_class = widget_class|default('border-gray-300 shadow-sm text-emerald-500 focus:ring focus:ring-emerald-600 focus:ring-opacity-50') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block checkbox_label -%}
    {%- set label_class = label_class|default('ml-2') -%}
    {{- block('form_label') -}}
{%- endblock -%}

{%- block widget_attributes -%}
    {%- set widget_class = widget_class|default('mb-2 text-sm w-full h-9 rounded-md border-gray-100 bg-slate-200 shadow-sm focus:border-emerald-500 focus:ring focus:ring-emerald-600 focus:ring-opacity-50') ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-600')) -%}
    {{- parent() -}}
{%- endblock -%}