{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title "Statistiques - ARSA" %}

{% block content %}
    <div class="flex flex-col gap-10">
        <div class="flex flex-col align-items-center">
            <h2 class="mt-2 mb-2 underline font-semibold text-2xl">Statistiques générales de l'application</h2>
            <div class="flex">
                <div class="flex-initial w-1/2">
                    <p class="underline">Nouvelles inscriptions cette semaine</p>
                    <div style="height: 300px;">
                        {{ render_chart(lastStudentsAndEnterprises) }}
                    </div>
                </div>
                <div class="flex-initial w-1/2">
                    <p class="underline">Nombre total d'étudiants et d'entreprises</p>
                    <div>
                        {{ render_chart(allStudentsAndEnterprises) }}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="flex flex-col align-items-center">
            <h2 class="mb-2 underline font-semibold text-2xl">Statistique sur le nombre de candidatures et
                d'offres</h2>
            <div class="flex w-full justify-center  mb-4">
                <div class="w-1/2">
                    <p class="underline">Nombre de candidatures et d'offres par mois</p>
                    <div>
                        {{ render_chart(studentsFoundStage) }}
                    </div>
                </div>
            </div>

            <div class="flex w-full justify-center mt-4">
                <div class="w-1/2">
                    <p class="underline">Nombre de candidatures et d'offres par mois</p>
                    <div>
                        {{ render_chart(candidaciesAndOffersByMonth) }}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="flex flex-col align-items-center">
            <h2 class="mt-2 mb-2 underline font-semibold text-2xl">Statistiques sur les tags</h2>
            <div class="flex justify-center w-full">
                <div class="flex-initial w-full">
                    <h3 class="underline">Nombres de fois que les tags sont utilisés</h3>
                    <div style="max-height: 300px;">
                        {{ render_chart(allTagsChart) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}